<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85083387451-omlq2d12q97rjcf4aesm67no7thhp0b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85083387451-omlq2d12q97rjcf4aesm67no7thhp0b1</string>
	<key>API_KEY</key>
	<string>AIzaSyCre8ApO96ljgc4W7F0lbczzD8UmHPILGg</string>
	<key>GCM_SENDER_ID</key>
	<string>85083387451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylastwords</string>
	<key>PROJECT_ID</key>
	<string>mylastwords-2ce95</string>
	<key>STORAGE_BUCKET</key>
	<string>mylastwords-2ce95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85083387451:ios:4f298fc43b6d0c24d34e1e</string>
</dict>
</plist>